<div class="top-menu">
  <h1 class="logo">Logo Apki</h1>
  <ion-icon name="person" class="profle-icon"></ion-icon>
</div>
<div class="page-container">
  <ion-app>
    <ion-router-outlet></ion-router-outlet>
  </ion-app>
</div>
<div class="menu">
  <a routerLink="/profile" routerLinkActive="selected" class="icons"><ion-icon name="person" class="icons-m"></ion-icon></a>
  <a routerLink="/world" routerLinkActive="selected" class="icons"><ion-icon name="people" class="icons-m"></ion-icon></a>
  <a routerLink="/map" routerLinkActive="selected" class="icons"><ion-icon name="location" class="icons-m"></ion-icon></a>
  <a routerLink="/settings" routerLinkActive="selected" class="icons"><ion-icon name="settings" class="icons-m"></ion-icon></a>
</div>