<!-- --- POSTĘP --- -->
<div class="upper-section-container">

  <!-- Przywitanie -->
  <div class="hello-words">Witaj, Adamie!</div>

  <div class="progress-bar-container">

    <!-- Awatar -->
    <div class="circular-landscape"><img src="../../assets/tomi-vadasz-SBKJ47obEHY-unsplash.jpg" alt="avatar" class="avatar"></div>

    <!-- Pasek Postępu -->
    <circle-progress
    [percent]="85"
    [radius]="68"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#008005'"
    [innerStrokeColor]="'#C4C4C4'"
    [animation]="false"
    [animationDuration]="0"
    ></circle-progress>

  </div>
</div>
<!-- --- POSTĘP --- -->

<div class="lower-section-container">

<!-- --- SMOG --- -->
<div class="left-lower-section-container">
  <div class="smog-header">
    <div class="smog-icon"><mat-icon class="icons-m">cloud</mat-icon></div>
    <div class="smog-title">Poziom Smogu</div>
  </div>
  <div class="smog-content">
    <div class="smog-content-value">54 <span class="sub">CAQI</span></div>
    <div class="smog-content-text-value">Przeciętna jakość powietrza</div>
  </div>
  <div class="smog-footer">
    <div class="smog-location">Katowice, Szopienice</div> <div class="smog-time">12:30</div>
  </div>
</div>
<!-- --- SMOG --- -->

<!-- --- KALENDARZ --- -->
<div class="right-lower-section-container">
  <div class="calendar-header">
    <div class="calendar-icon"><mat-icon class="icons-m">date_range</mat-icon></div>
    <div class="calendar-title">Tydzień</div>
  </div>
  <div class="calendar-day-row-top"></div>
  <div class="calendar-day-row-bottom"></div>
  <div class="calendar-footer"></div>
</div>
<!-- --- KALENDARZ --- -->

</div>
