/* --- POSTĘP --- */

/* Główny pojemnik */
.upper-section-container {
  border-radius: 5px;
  margin: 20px;
  height: 220px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: white;
}

/* Powitanie */
.hello-words {
  left: 50%;
  transform: translate(-50%,0);
  position: absolute;
  bottom: calc(100% - 50px);
  font-size: 27px;
  font-weight: bold;
  width: 100%;
  color: #008005;
  text-align: center;
}

/* Pasek postępu */
.progress-bar-container {
  margin-top: 20px;
  top: 50%;
  transform: translate(0,10%);
}

/* --- Zaokrąlenie i ustawienie zdjęcia --- */
.circular-landscape {
  width: 120px; height: 120px;
  overflow: hidden;
  position: absolute;
  left: 50%; top: 49%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}

.circular-landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px; /* Ustawienie */
}
/* --- POSTĘP --- */

.lower-section-container {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  margin: 20px;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.left-lower-section-container, .right-lower-section-container{
  height: 150px;
  border-radius: 5px;
  position: relative;
  flex: 1;
  padding: 5px;
  overflow:auto;
}

.smog-icon, .calendar-icon{
  border-radius: 50%;
  height: 25px;
  width: 25px;
  padding: 2px;
  background-color: #C4C4C4;
}


.smog-header, .calendar-header {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
  font-weight: bold;
}

.calendar-title, .smog-title {
  flex-grow: 2;
  text-align: center;
}

/* --- SMOG --- */
.left-lower-section-container {
  background-color: #F4DC00;
  margin-right: 10px;
}

.smog-icon > .icons-m {
  color: #2958FF;
}

.smog-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.smog-content-value {
  font-size: 35px;
  padding-top: 5px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;

}

.smog-content-text-value {
  font-size: 13px;
  height: 40px;
  overflow: hidden;
}

.sub {
  vertical-align: sub;
  font-size: 10px;
}

.smog-footer {
  bottom: 0;
  color: white;
  font-weight: bold;
  position: absolute;
  width: calc(100% - 10px);
  padding-right: 5px;
  padding-bottom: 5px;

  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}
/* --- SMOG --- */

/* --- KALENDARZ --- */
.right-lower-section-container {
  background-color: white;
  margin-left: 10px;
}

.calendar-icon > .icons-m {
  color:#008005
}

.calendar-day-row-bottom,.calendar-footer,.calendar-day-row-top {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;

  margin-top: 10px;
}

.calendar-day-monday, .calendar-day-tuesday, .calendar-day-wednesday,
.calendar-day-thursday, .calendar-day-friday{
  background-color: #C4C4C4;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
  font-weight: bold;

  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.calendar-day-tuesday {margin-left: 18px;}
.calendar-day-thursday {margin-right: 18px;}

.calendar-footer {
  bottom: 0;
  position: absolute;
  width: calc(100% - 10px);
  border-top: 2px solid #C4C4C4;
  margin-left:-5px;
  padding: 5px;

}

.calendar-day-saturday, .calendar-day-sunday {
  height: 35px;
  width: 35px;
  background-color: #C4C4C4;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 2px;
  font-size: 15px;
  font-weight: bold;

  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
/* --- KALENDARZ --- */

/* --- PORADY ---*/
.mid-section-container {
  height: 100px;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
  background-color: #2958FF;
  overflow:auto;
}

.advice-icon > .icons-m{
  color: white;

}

.advice-icon {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 2px;
  background-color: rgba(0,0,0, .35);

  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.advice-header, .advice-title, .advice-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
}

.advice-title {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.advice-content {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
/* --- PORADY ---*/

.is-green {
  background-color: green;
}

.is-red {
  background-color: red;
}
