<div class="upper-section-container">

  <!-- Przywitanie -->
  <div class="hello-words">Witaj, Adamie!</div>

  <div class="progress-bar-container">

    <!-- Awatar -->
    <div class="circular-landscape"><img src="../../assets/tomi-vadasz-SBKJ47obEHY-unsplash.jpg" alt="avatar" class="avatar"></div>

    <!-- Pasek Postępu -->
    <circle-progress
    [percent]="85"
    [radius]="68"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#008005'"
    [innerStrokeColor]="'#C4C4C4'"
    [animation]="false"
    [animationDuration]="0"
    ></circle-progress>

  </div>
</div>
