<mat-dialog-content class="mat-typography">
  <div style="margin-right: 0;" class="left-lower-section-container" [ngClass]="setColor">
  
    <div class="smog-header">
      <div class="smog-icon"><mat-icon class="icons-m">cloud</mat-icon></div>
      <div class="smog-title">Poziom Smogu</div>
    </div>
    <div class="smog-content" >
      <div class="smog-content-value">
        <span class="smog-content-value-o3" *ngFor="let air of cityValue">
          {{this.dominentValue}}
        </span>
        <span class="sub" *ngFor="let airIndex of cityValue">
          {{airIndex.data.dominentpol}}
        </span>
  
      </div>
      <div class="smog-content-text-value" *ngFor="let action of cityValue">
        <span>{{this.setNameQuality}}</span>
      </div>
    </div>
    <div class="smog-footer">
      <div class="smog-location">
        {{this.nameCity}}
      </div>
      <div class="smog-time">
        {{this.localTime}}
      </div>
    </div>
  
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Zamknij</button>
</mat-dialog-actions>
