<div class="points">
    <div class="subs">1025g CO<sub>2</sub></div>
    <div class="summ">7000pkt</div>
    <div class="add">8025g CO<sub>2</sub></div>
</div>
<div id="mapa-mapbox"></div>
<div class="details-points" cdkDragLockAxis="y" cdkDrag>
    <div class="speed">
        <p class="speed-v">{{this.speedV}}<br><span class="speed-u">km/h</span></p>
    </div>
    <div class="map-control">
        <div class="live-activity">
            <div class="live"></div>
            <mat-icon class="activity">{{this.liveActivity}}</mat-icon>
        </div>
        <div class="center-position">
            <mat-icon class="gps-fixed">gps_fixed</mat-icon>
        </div>
    </div>
    <div class="details-head" cdkDragHandle>
        <p class="details-head-ng">Dzisiaj</p>
        <mat-icon class="menu-drg">menu</mat-icon>
    </div>
    <br>
    <br>
    <p>X: {{this.aclx}}</p>
    <p>Y: {{this.acly}}</p>
    <p>Z: {{this.aclz}}</p>
    <p>Alfa: {{this.alpha}}</p>
</div>