<div class="points">
    <div class="subs">1025g CO<sub>2</sub></div>
    <div class="summ">7000pkt</div>
    <div class="add">8025g CO<sub>2</sub></div>
</div>
<div id="mapa-mapbox"></div>
<div class="details-points" cdkDragLockAxis="y" cdkDrag>
    <div class="details-head" cdkDragHandle>
        <p class="details-head-ng">Dzisiaj</p>
        <mat-icon class="menu-drg">menu</mat-icon>
    </div>
    <br>
    <br>
    <p>X: {{this.aclx}}</p>
    <p>Y: {{this.acly}}</p>
    <p>Z: {{this.aclz}}</p>
    <!--<p>X max: {{this.aclxmax}}</p>
    <p>Y max: {{this.aclymax}}</p>
    <p>Z max: {{this.aclzmax}}</p>-->
    <p>Prędkość: {{this.speedV}}</p>
    <p>Alfa: {{this.alpha}}</p>
</div>