<div class="top-menu">
    <h1 class="logo">Logo Apki</h1>
</div>
<div class="page-container">
    <router-outlet></router-outlet>
</div>
<div class="menu">
    <a routerLink="/profile" routerLinkActive="selected" class="icons"><mat-icon class="icons-m">person</mat-icon></a>
    <a routerLink="/world" routerLinkActive="selected" class="icons"><mat-icon class="icons-m">supervisor_account</mat-icon></a>
    <a routerLink="/map" routerLinkActive="selected" class="icons"><mat-icon class="icons-m">location_on</mat-icon></a>
    <a routerLink="/settings" routerLinkActive="selected" class="icons"><mat-icon class="icons-m">settings</mat-icon></a>
</div>