<div class="top-menu">
    <h1 class="logo">Logo Apki</h1>
    <mat-icon class="profle-icon">person</mat-icon>
</div>
<div class="page-container">
  <div class="upper-section-container">

    <div class="hello-words">Witaj, Adamie!</div>
    <div class="progress-bar-container">

      <div class="circular-landscape"><img src="../../assets/tomi-vadasz-SBKJ47obEHY-unsplash.jpg" alt="avatar" class="avatar"></div>

      <circle-progress
      [percent]="85"
      [radius]="68"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#008005'"
      [innerStrokeColor]="'#C4C4C4'"
      [animation]="false"
      [animationDuration]="0"
      ></circle-progress>

    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<div class="menu">
    <a routerLink="/profile" routerLinkActive="selected" class="icons"><mat-icon class="icons-m">person</mat-icon></a>
    <a routerLink="/world" routerLinkActive="selected" class="icons"><mat-icon class="icons-m">supervisor_account</mat-icon></a>
    <a routerLink="/map" routerLinkActive="selected" class="icons"><mat-icon class="icons-m">location_on</mat-icon></a>
    <a routerLink="/settings" routerLinkActive="selected" class="icons"><mat-icon class="icons-m">settings</mat-icon></a>
</div>
