<div style="overflow: auto" class="world-page-main-container">
    <div class="fancy-blur-div"></div>
    <div class="your-profile-container">
        <div class="your-profile-img">
            <div class="circular-landscape"><img src="../../assets/tomi-vadasz-SBKJ47obEHY-unsplash.jpg" alt="avatar" class="avatar"></div>
        </div>
        <div class="your-profile-right-side">
            <div class="your-profile-points">
                <span class="your-profile-points-value">0/10000</span>
            </div>
            <div class="your-profile-progress-bar">
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </div>
            <div class="your-profile-place-in-ranking">
                Twoje miejsce w rankingu: <span class="your-profile-place-in-ranking-value">#1</span>
            </div>
        </div>
    </div>

    <div class="fancy-div">

    <div class="friends-control-panel">
        <div class="friends-control-panel-title">
            <p>Twoi znajomi</p>
        </div>
        <div class="friends-control-panel-functions">
            <div class="friends-control-panel-add-new">
                <button>Dodaj znajomego</button>
            </div>
            <div class="friends-control-panel-sort">
                <select name="sort-options" id="sort-options">
                    <option value="first">Od pierwszych</option>
                    <option value="last">Od ostatnich</option>
                    <!-- https://stackoverflow.com/questions/13490391/jquery-sort-elements-using-data-id -->
                </select>
            </div>
        </div>
    </div>

    <!-- FRIENDS LIST -->

    <div class="friends-profile-container">
        <div class="friends-profile-img">
            <div class="circular-landscape"><img src="../../assets/tomi-vadasz-SBKJ47obEHY-unsplash.jpg" alt="avatar" class="avatar"></div>
        </div>
        <div class="friends-profile-right-side">
            <div class="friends-profile-name">
                <span class="friends-profile-name-value">Łukasz</span>
            </div>
            <div class="friends-profile-level">
                Poziom: <span class="friends-profile-level-value">99</span>
            </div>
            <div class="friends-profile-place-in-ranking">
                Ranking: <span class="friends-profile-place-in-ranking-value">#2</span>
            </div>
        </div>
    </div>
    <div class="friends-profile-container">
        <div class="friends-profile-img">
            <div class="circular-landscape"><img src="../../assets/tomi-vadasz-SBKJ47obEHY-unsplash.jpg" alt="avatar" class="avatar"></div>
        </div>
        <div class="friends-profile-right-side">
            <div class="friends-profile-name">
                <span class="friends-profile-name-value">Łukasz</span>
            </div>
            <div class="friends-profile-level">
                Poziom: <span class="friends-profile-level-value">99</span>
            </div>
            <div class="friends-profile-place-in-ranking">
                Ranking: <span class="friends-profile-place-in-ranking-value">#2</span>
            </div>
        </div>
    </div>

    <div class="friends-profile-container">
        <div class="friends-profile-img">
            <div class="circular-landscape"><img src="../../assets/tomi-vadasz-SBKJ47obEHY-unsplash.jpg" alt="avatar" class="avatar"></div>
        </div>
        <div class="friends-profile-right-side">
            <div class="friends-profile-name">
                <span class="friends-profile-name-value">Łukasz</span>
            </div>
            <div class="friends-profile-level">
                Poziom: <span class="friends-profile-level-value">99</span>
            </div>
            <div class="friends-profile-place-in-ranking">
                Ranking: <span class="friends-profile-place-in-ranking-value">#2</span>
            </div>
        </div>
    </div>

    <div class="friends-profile-container">
        <div class="friends-profile-img">
            <div class="circular-landscape"><img src="../../assets/tomi-vadasz-SBKJ47obEHY-unsplash.jpg" alt="avatar" class="avatar"></div>
        </div>
        <div class="friends-profile-right-side">
            <div class="friends-profile-name">
                <span class="friends-profile-name-value">Łukasz</span>
            </div>
            <div class="friends-profile-level">
                Poziom: <span class="friends-profile-level-value">99</span>
            </div>
            <div class="friends-profile-place-in-ranking">
                Ranking: <span class="friends-profile-place-in-ranking-value">#2</span>
            </div>
        </div>
    </div>

    <div class="friends-profile-container">
        <div class="friends-profile-img">
            <div class="circular-landscape"><img src="../../assets/tomi-vadasz-SBKJ47obEHY-unsplash.jpg" alt="avatar" class="avatar"></div>
        </div>
        <div class="friends-profile-right-side">
            <div class="friends-profile-name">
                <span class="friends-profile-name-value">Łukasz</span>
            </div>
            <div class="friends-profile-level">
                Poziom: <span class="friends-profile-level-value">99</span>
            </div>
            <div class="friends-profile-place-in-ranking">
                Ranking: <span class="friends-profile-place-in-ranking-value">#2</span>
            </div>
        </div>
    </div>

    <!-- FRIENDS LIST -->

    </div>

</div>

<div class="work-in-progress">WORK IN PROGRESS</div>
